.varetas {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}

body {
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Gemunu Libre', sans-serif;
    background-image: url(../img/BackTorre.png);
    background-size: 800px;
}

.cabecalho {
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
    text-shadow: 3px -5px 5px rgba(0, 0, 0, 0.50);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25) inset;
    width: 250px;
    height: 66px;
    background-color: #c4c4c4;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.break {
    width:100%
}
.base{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    background-color: #995300;
    box-shadow: 10px -15px 4px 0px rgba(0,0,0,0.25);
}

.vareta {
    height: 250px;
    width: 20px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 10px -15px 4px 0px rgba(0, 0, 0, 0.25);
}

.disco {
    width: 60px;
    height: 20px;
    background-color: blue;
    margin-top: 1px;
    border-radius: 15px;
    box-shadow: -4px 4px 4px 5px rgba(0, 0, 0, 0.30) inset;
}

.disco.um {
    width: 90px;
    background-color: red;
}

.disco.dois {
    width: 75px;
    background-color: green;
}

.zoneOn {
    background-color: rgba(0, 0, 0, 0.289)
}

.isMove {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: rgba(79, 78, 78, 0.923);
}

.pop {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.popup-winner {
    display: none;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    background-color: rgba(79, 78, 78, 0.4);
    border-radius: 15px;
    position: relative;
    top: -50px;
}
.winner {
    font-size: 84px;
    color: darkred;
    text-shadow: 5px -5px 2px white;
    text-decoration:underline;
}
.close-winner {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: darkred;
}
.close-winner:hover {
    cursor: pointer;
}
.winner--show {
    display: flex;
}