.varetas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

.cabecalho {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

.vareta {
    height: 450px;
    width: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.disco {
    width: 70px;
    height: 10px;
    background-color: blue;
    margin-top: 1px;
}

.disco.um {
    width: 50px;
    background-color: red;
    transition: all 1s;
}

.disco.dois {
    width: 60px;
    background-color: green;
}


/* Modifica o cursor para que indique que está com um disco selecionado */

.discSelected {
    height: 100vh;
    cursor: url(#);
    /* incluir imagem de disco selecionado? */
}