.varetas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

.cabecalho {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

.vareta {
    height: 100px;
    width: 10px;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.disco {
    width: 50px;
    height: 10px;
    background-color: blue;
    margin-top: 1px;
}

.disco.um {
    width: 70px;
    background-color: red;
}

.disco.dois {
    width: 60px;
    background-color: green;
}

.zoneOn {
    background-color: rgba(0, 0, 0, 0.289)
}

.isMove {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: rgba(79, 78, 78, 0.923);
}


/* Modifica o cursor para que indique que está com um disco selecionado */

.discSelected {
    height: 100vh;
    cursor: url(#);
    /* incluir imagem de disco selecionado? */
}